html{
    overflow-x: hidden;

}
body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-image: url("");
    background-position: center; /* Center the image */
  background-repeat: no-repeat;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

img{
    width: 100%;
}
a{
    color: #222831;
    text-decoration: none;
}
a:hover{
    color: #FA163F;
    border-bottom-color: #FA163F;
}
a:active{
    color: #277BC0;
    border-bottom-color: #277BC0;

}
.active{
    color: #277BC0;
    border-bottom: #277BC0 2px solid;
    padding-bottom: 5px;
}
.Head{
    display: flex;
    justify-content: space-between
    ;
    align-items: center;
    background-color: #eeeeeeb6;
    width: 100vw;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
}
.title {
    margin-top: 0;
    width: 150px;
    min-width: 150px;


}

.pages ul{
    margin-top: 0;
    margin: auto;
    margin-right: 10px;
    width: 400px;
    font-size: 12px;
    min-width: 420px;

}

.pages ul li{
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;

}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
}
.welcom h1{
    line-height: 45px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    min-width: 190px;
}
.welcom p{
    margin-top: 0;
}
.colora{
    color: #61481C;

}
.colorb{
    color: #FA163F;
}
.avatar{
    width: 200px;
    height: 200px;
    overflow: hidden;

    border-radius: 50%;
    padding-bottom: 30px;
}

.abouta{

    padding: 7px 20px;
    border: none;
    border-radius: 50px;
    background-color: #0e3150;
    box-shadow: 0px 3px 10px #0e3150;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: bold;

}
.abouta:hover{
    background-color: #0e315088;
    color: #FA163F;

}


.material-symbols-outlined {
    background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 5px;
  background-color: white;
}


.Social_media{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;

}
.Social_media div{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}
.Social_media div:hover{
    background-color: #E4F9FF;
}
.Social_media div:active{
    background-color: #FA163F;
}

.CV_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    margin: 10px 15px 10px 140px;
  
  
  }
  aside{
    background-color: #222831;
    width: 50px;
    height:730px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 0;
  
  
  }
  
  .first-icon, .second-icon, .terth-icon{
    width: 40px;
    height: 40px;
    margin:7px auto 7px auto;
  
  }
  .second-icon{
    height:245px;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
  
  
  }
  .second-icon  img, .first-icon  img, .terth-icon img{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  
  }
  .toph{
    position: relative;
  
    width: 400px;
    height: 800px;
  
    box-shadow: 0 0 50px black;
    z-index: 100;
    overflow: hidden;
  
  }
  .my_image{
    float: left;
    height: 100%;
    width: auto;
    z-index: -1;
    background-size: cover;
  }
  .image_info{
    position: absolute;
    inset:0;
    bottom: -10px;
    margin: auto;
    text-align: center;
    top:650px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    font-weight: bold;
  }
  
  .CV_info{
    background-color: #222831;
    height: 700px;
    padding-left: 12px;
    width: 600px;
    color: #EEEEEE;
    padding: 15px 20px
  
  }
  .CV_info h1, .CV_info h3{
    color: white;
  }
  table thead tr th{
    text-align: left;
    color: white;
  }
  
  table{
    margin-bottom: 0;
  }
  
